.el-menu--horizontal {
  border: none;
}

.card-box .el-card__body {
  padding: 0;
}

.el-card {
  border-radius: 10px;
  margin: 20px 0;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
  background-color: rgba(0, 0, 0, 0);
}